// Use utils and theme variables
@use '../_config/styles/utils/_functions';
@use '../_config/styles/utils/_mixins';
@use '../_config/styles/theme/_theme';

//// NAVIGATION
//// --------------------------------------------------------------------------

	// Style block
	
	.navigation-main {
		.menu {
			.sub-menu > li {
				list-style: none;
				margin: 0;
				padding: 0;
				&:before {
					display: none;
				}
			}
		}
	}